.container .scrolled {
  background-color: black;
}

.container nav {
  position: sticky;
  top: 0;
  height: 6.5rem;
  width: 100%;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 2;
  padding: 0 4rem;
  align-items: center;
  transition: 0.3s ease-in-out;
}

.container .left {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.container .left .brand img {
  height: 4rem;
}

.container .left .links {
  display: flex;
  list-style-type: none;
  gap: 2rem;
}

.container .left .links li a {
  color: white;
  text-decoration: none;
}

.container .right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.container .right button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.container .right button:focus {
  outline: none;
}

.container .right button svg {
  color: #f34242;
  font-size: 1.2rem;
}

.container .right .search {
  display: flex;
  gap: 0.4rem;
  align-items: center;
  justify-content: center;
  padding: 0.2rem;
  padding-left: 0.5rem;
}

.container .right .search button {
  background-color: transparent;
  border: none;
}

.container .right .search button:focus {
  outline: none;
}

.container .right .search button svg {
  color: white;
  font-size: 1.2rem;
}

.container .right .search input {
  width: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease-in-out;
  background-color: transparent;
  border: none;
  color: white;
}

.container .right .search input:focus {
  outline: none;
}

.container .right .show-search {
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.6);
}

.container .right .show-search input {
  width: 100%;
  opacity: 1;
  visibility: visible;
  padding: 0.3rem;
}
